<% var title = "top" -%>
<!DOCTYPE html>
<html dir="ltr" lang="ja">
<%- include('./_include/_head', {pageTitle:title}) %>
<body>
<main>
    <div class="mg-top">
        <h1><%= jsonData.sitename %></h1>
        <h2><%= jsonData.description %></h2>
    </div>
    <ul class="mg-list">
<% jsonData.pages.forEach(function (value, key) { %>
        <li>
            <a href="./<%= [value] -%>.html"><%= value %></a>
        </li>
<% }); %>
    </ul>
</main>
<script src="./js/<%= title -%>.js"></script>
</body>
</html>