<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="<%= jsonData.description -%>">
    <meta name="keywords" content="<%= jsonData.keywords -%>">
<% if (pageTitle === 'top') { %>
    <title><%= jsonData.sitename -%></title>
<% } else { %>
    <title><%= pageTitle -%> | <%= jsonData.sitename -%></title>
<% } %>
    <link rel="stylesheet" href="./css/<%= pageTitle -%>.css">
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="shortcut icon" href="">
</head>